/* AccordionList.module.css */

.accordion-list {
  list-style: none;
  padding: none;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #694b12;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-family: "Lobster", cursive;
  background: linear-gradient(45deg, #ff5733, #ffcb33);
}

.accordion-header.active {
  background-color: #0056b3;
  position: absolute;
}

.sublist {
  list-style: none;
  color: black;
  padding-left: 20px;
  position: relative;
  background-position: right;
  text-transform: capitalize;
}

.sublist li {
  margin-bottom: 10px;
}
