.FaqPage {
  background-color: #fd6914e0;
  padding: 20px;

  background: linear-gradient(45deg, #ff5733, #ffcb33);
  box-shadow: 3px 3px 5px #888888;
  border-radius: 20px;
}

.FaqPage h1 {
  font-size: 24px;
  color: #333;
}
