.accordians {
  list-style: none;
  padding: 10px;
}

.accordian_item {
  margin-bottom: 10px;
}

.accordian_item_div {
  cursor: pointer;
}

.sublist {
  list-style: none;
  padding-left: 10px;
}

.sublist li {
  margin-bottom: 5px;
}
